@media screen and (max-width: 480px) {
  header {
    margin: 20px 20px 0 20px;
  }
  .introduction {
    position: relative;
  }
  /*menu*/
  nav {
    position: absolute;
    top: 30px;
    bottom: 40px;
    left: 5px;
  }
  nav ul {
    height: auto;
    justify-content: space-around;
    line-height: 2rem;
    border-bottom: 3px solid #f2f2f2;
  }
  nav li {
    display: inline-block;
  }
  nav a:active {
    border-top: none;
    text-decoration-line: underline;
    color: #0065fc;
  }
  h1 {
    padding-top: 40px;
  }
  /*-----recherche lieu de destination-----*/
  #recherche {
    padding-top: 20px;
    width: auto;
    height: auto;
    padding-bottom: 50px;
  }
  input {
    width: 100%;
    height: auto;
  }
  button {
    height: 40px;
    width: 50px;
    border-radius: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  #recherche i.fas.fa-search {
    display: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: small;
    background-color: transparent;
  }
  span {
    display: none;
  }
  #filtres {
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 100px;
  }
  #filtres h1 {
    padding-bottom: 5px;
  }
  .bordureFiltres {
    margin-bottom: 10px;
  }
  .info {
    width: 100%;
  }
  .info span {
    display: unset;
  }
  /*-----contenu popularité recherche-----*/
  .populaires {
    height: auto;
    width: 100%;
    position: absolute;
    top: auto;
    justify-content: center;
    padding: 0 20px 30px 20px;
    border-radius: 0;
  }
  .entete {
    width: 90%;
    padding-top: 10px;
  }
  .entete h1 {
    padding-top: 0px;
  }
  .blocPopulaires {
    width: 85%;
    margin-bottom: 5px;
  }
  /*-----contenu recherche-----*/
  .principal {
    height: auto;
    width: 100%;
    position: absolute;
    top: 1050px;
    flex-direction: column;
    align-items: center;
    border: unset;
    background-color: unset;
  }
  .principal h1 {
    width: 100%;
    padding-left: 20px;
  }
  .bloc {
    height: auto;
    width: 60%;
    border-radius: 0;
    padding: 0 20px 10px 20px;
    margin: 0;
  }
  h2.it {
    width: auto;
  }
  .plusResultat {
    margin-top: 20px;
  }
  /*-----contenu activités-----*/
  .activites {
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 0;
    column-width: auto;
    padding-left: 20px;
    padding-bottom: 30px;
    margin-top: 1300px;
  }
  .activites h1 {
    width: 240px;
    height: 30px;
    grid-row: 1;
    margin: 0;
    padding-top: 20px;
  }
  .activites h2 {
    width: 90%;
  }
  .activites a.act1 {
    width: 95%;
    height: 200px;
    grid-row: 2;
  }
  .act1 img,
  .act1bis img,
  .act3 img,
  .act4 img,
  .act4bis img {
    width: 100%;
    height: 150px;
  }
  .activites a.act2 {
    width: 95%;
    height: 200px;
    grid-column: 1;
    grid-row: 3;
  }
  .activites a.act3 {
    width: 95%;
    height: 200px;
    grid-column: 1;
    grid-row: 4;
  }
  .activites a.act1bis {
    width: 95%;
    height: 200px;
    grid-column: 1;
    grid-row: 5;
  }
  .activites a.act4 {
    width: 95%;
    height: 200px;
    grid-column: 1;
    grid-row: 6;
  }
  .activites a.act4bis {
    width: 95%;
    height: 200px;
    grid-column: 1;
    grid-row: 7;
  }
  /*-----footer-----*/
  footer {
    flex-direction: column;
    width: 100%;
    padding-left: 20px;
  }
  footer h1 {
    padding-top: 0;
  }
}
